<a href="https://colab.research.google.com/github/InsiaMurtaza/Python-notebooks/blob/main/Myfirstnotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
full_name : str = "Insia Murtaza"
print(full_name)

Insia Murtaza

In [ ]:
a:int = 10
b:int = 5
print(a + b,a -b,a * b,a/b,a % b)

15 5 50 2.0 0

In [ ]:
first_name:str= "Insia"
last_name:str="Murtaza"
age:int = 43
is_teacher:bool = True
# f" is used to concatenate two or more variables of different types
full_name:str = f"{first_name} {last_name} {age} {is_teacher}"
print(full_name)

Insia Murtaza 43 True

In [ ]:
fruit = "Mango"
print(type(fruit))

<class 'str'>

In [ ]:
fruits:list =["Mango","Banana","Apple","Orange","Papaya","Watermelon","Grapes"]
print(len(fruits))
print(fruits[3])

7
Orange

In [ ]:
from ast import Slice
fruits:list =["Mango","Banana","Apple","Orange","Papaya","Watermelon","Grapes"]
print(fruits[0:2])
print(fruits)
fruits.append("Strawberry")
print(fruits)
fruits.extend(["Kiwi","Guava","Pineapple"])
print(fruits)
# removes the fruit at index number 4
fruits.pop(4)
print(fruits)
# displays the fruit which is removed
print(fruits.pop(3))
# removes Apple from the list
fruits.remove("Apple")
print(fruits)
# inserts Apple at index no.3
fruits.insert(3,"Apple")
print(fruits)
# arranges fruits in alphabetical order
fruits.sort()
print(fruits)
# reverses whatsoever the order of the list i.e index 0 becomes last and last becomes 0
fruits.reverse()
print(fruits)

# displays index number of mango
print(fruits.index("Mango"))

['Mango', 'Banana']
['Mango', 'Banana', 'Apple', 'Orange', 'Papaya', 'Watermelon', 'Grapes']
['Mango', 'Banana', 'Apple', 'Orange', 'Papaya', 'Watermelon', 'Grapes', 'Strawberry']
['Mango', 'Banana', 'Apple', 'Orange', 'Papaya', 'Watermelon', 'Grapes', 'Strawberry', 'Kiwi', 'Guava', 'Pineapple']
['Mango', 'Banana', 'Apple', 'Orange', 'Watermelon', 'Grapes', 'Strawberry', 'Kiwi', 'Guava', 'Pineapple']
Orange
['Mango', 'Banana', 'Watermelon', 'Grapes', 'Strawberry', 'Kiwi', 'Guava', 'Pineapple']
['Mango', 'Banana', 'Watermelon', 'Apple', 'Grapes', 'Strawberry', 'Kiwi', 'Guava', 'Pineapple']
['Apple', 'Banana', 'Grapes', 'Guava', 'Kiwi', 'Mango', 'Pineapple', 'Strawberry', 'Watermelon']
['Watermelon', 'Strawberry', 'Pineapple', 'Mango', 'Kiwi', 'Guava', 'Grapes', 'Banana', 'Apple']
3

In [ ]:
quarter: str = "Q3"
# f""" is used to break line from whereever the line needs to be broken just type enter in the syntax
achievement: str = f"""Thrilled to share
I'm passing {quarter} exam!"""
print(achievement)

Thrilled to share
I'm passing Q3 exam!